# REWRITE RULES
<IfModule rewrite_module>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule .* index.php [L]
</IfModule>

# MIME TYPES
<IfModule mime_module>
    AddType application/octet-stream .ipa
    AddType application/vnd.android.package-archive .apk
    AddType text/xml .plist
</IfModule>