#container {
    margin-top: 15px;
}

.old-ios, .new-ios, .ipad-ios4, .desktop, .android, .desktopbuttons, .ipadbuttons, .hintdevice, .hintipad {
	display: none;
}

.bordertop {
    border-top: 1px dotted black;
}

.borderbottom {
    border-bottom: 1px dotted black;
}

/* < iOS 4 devices */
.browser-old-ios .old-ios {
    display: block;
}

.browser-old-ios .container {
	width: 300px;
    padding-left: 10px;
    padding-right: 10px;
}

.browser-old-ios p {
    font-size: 120%;
}

/* iOS 4 devices */

.browser-ios4 .new-ios {
    display: block;
}

.browser-ios4 .container {
	width: 300px;
    padding-left: 10px;
    padding-right: 10px;
}

.browser-ios4 .grid .icon {
    border-radius: 20px;
}

.browser-ios4 .version .icon {
    border-radius: 20px;
    -webkit-box-reflect:below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.65, transparent), to(white));
}

.browser-ios4 .grid {
    min-height: 330px;
    text-align: center;
    margin-left: -10px;
    margin-right: -10px;
}

.browser-ios4 .version {
    min-height: 460px;
}

.browser-ios4 .version .icon {
    float: left;
    margin-right: 10px;
    margin-bottom: 35px;
}

.browser-ios4 .version .button {
    margin-left: 25px;
}


/* iPad 4 devices */

.browser-ipad4 .ipad-ios4, .browser-ipad4 .hintipad, .browser-ipad4 .ipadbuttons {
    display: block;
}

.browser-ipad4 .container {
	width: 750px;
    padding-left: 10px;
    padding-right: 10px;
}

.browser-ipad4 .icon {
    border-radius: 20px;
    -webkit-box-reflect:below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white));
}

.browser-ipad4 .ipadbuttons {
    display: block;
}

.browser-ipad4 .span-8 {
    margin-left: 15px;
}


/* Android devices */

.browser-android .android {
    display: block;
}

.browser-android .container {
	width: 300px;
    padding-left: 10px;
    padding-right: 10px;
}


.browser-android .grid {
    min-height: 330px;
    text-align: center;
    margin-left: -10px;
    margin-right: -10px;
}

.browser-android .version {
    min-height: 460px;
}

.browser-android .version .icon {
    float: left;
    padding-right: 10px;
    margin-bottom: 35px;
    border-radius: 20px;
}

.browser-android .version .button {
    margin-left: 25px;
}


/* Mac or PC */

.browser-desktop .desktop, .browser-desktop .hintdevice, .browser-desktop .desktopbuttons {
    display: block;
}

.browser-desktop .container {
    padding-left: 10px;
    padding-right: 10px;
}

.browser-desktop .icon {
    border-radius: 20px;
    -webkit-box-reflect:below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white));
}

.browser-desktop .span-8 {
    margin-left: 15px;
}

/* Stats page */

.appgridelement {
    text-align:center;
    float:left;
    height:100px;
}

.appgridicon {
    border-radius: 20px;
    max-height:75px;
    max-width:75px;
}